@{
    ViewBag.Title = "Home Page";
}

<!--
<div class="jumbotron">
    <h1>ONYVA</h1>
    <p class="lead">ONYVA is a simple website to manage employees' travels registrations. The website was developed as a part of a practicing exercise and it was implemented using the .NET environment and C#.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
-->




    <div class="container">
        <!-- Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    ONYVA
                    <small>Managing your travel's registration</small>
                </h1>
<p>ONYVA is a simple website to manage employees' travels registrations. The website was developed as a part of a practicing exercise and it was implemented using the .NET environment and C#.</p>
        </div>
    </div>
<!-- /.row -->
<!-- Feature Row -->
<div class="row">
    <article class="col-md-4 article-intro">
        <a href="#">
            <img class="img-responsive img-rounded" src="~/Content/img/employees.png" alt="">
        </a>
        <h3>
            <a href="#">Employees List</a>
        </h3>
        <p>Add, modifiy and visualize the emplooyes of your company here</p>
    </article>
    <article class="col-md-4 article-intro">
        <a href="#">
            <img class="img-responsive img-rounded" src="~/Content/img/travels.jpg" alt="">
        </a>
        <h3>
            <a href="#">Formidable Destinations</a>
        </h3>
        <p>Check our list with the most incredible destinatons specially selected for your employees</p>
    </article>
    <article class="col-md-4 article-intro">
        <a href="#">
            <img class="img-responsive img-rounded" src="~/Content/img/registrations.jpg" alt="">
        </a>
        <h3>
            <a href="#">Check-in</a>
        </h3>
        <p>The list of registrations. Here, you can validate or uncheck registrations made by your emolooyes</p>
    </article>
</div>
<!-- /.row -->
</div>
<!-- /.container -->
<!--
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
-->
