@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>ONYVA</h1>
    <p class="lead">ONYVA is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <!--<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>

<div class="container">
    <!-- Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Superior
                <small>Visualize Quality</small>
            </h1>
            <p>Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals after maintainable products.</p>
        </div>
    </div>
    <!-- /.row -->
    <!-- Feature Row -->
    <div class="row">
        <article class="col-md-4 article-intro">
            <a href="#">
                <img class="img-responsive img-rounded" src="~/Content/img/employees.png" alt="">
            </a>
            <h3>
                <a href="#">Efficiently Unleash</a>
            </h3>
            <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
        </article>
        <article class="col-md-4 article-intro">
            <a href="#">
                <img class="img-responsive img-rounded" src="~/Content/img/travels.jpg" alt="">
            </a>
            <h3>
                <a href="#">Completely Synergize</a>
            </h3>
            <p>Dramatically maintain clicks-and-mortar solutions without functional solutions. Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.</p>
        </article>
        <article class="col-md-4 article-intro">
            <a href="#">
                <img class="img-responsive img-rounded" src="~/Content/img/registrations.jpg" alt="">
            </a>
            <h3>
                <a href="#">Dynamically Procrastinate</a>
            </h3>
            <p>Professionally cultivate one-to-one customer service with robust ideas. Completely synergize resource taxing relationships via premier niche markets. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
        </article>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
<!--
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
-->
